<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.study.customview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.basicImage.ColorActivity">
        </activity>
        <activity android:name=".ui.basicImage.PointActivity">
        </activity>
        <activity android:name=".ui.basicImage.RectActivity">
        </activity>
        <activity android:name=".ui.basicImage.LineActivity">
        </activity>
        <activity android:name=".ui.basicImage.RoundRectActivity">
        </activity>
        <activity android:name=".ui.basicImage.OvalActivity">
        </activity>
        <activity android:name=".ui.basicImage.CircleActivity">
        </activity>
        <activity android:name=".ui.basicImage.ArcActivity">
        </activity>
        <activity android:name=".ui.circular.CircularActivity">
        </activity>
        <activity android:name=".ui.canvas.TranslateActivity">
        </activity>
        <activity android:name=".ui.canvas.RotateActivity">
        </activity>
        <activity android:name=".ui.canvas.ScaleActivity">
        </activity>
        <activity android:name=".ui.canvas.SkewActivity">
        </activity>
        <activity android:name=".ui.canvas.ClipActivity">
        </activity>
        <activity android:name=".ui.canvas.SaveRestoreActivity">
        </activity>
        <activity android:name=".ui.text.DrawTextActivity">
        </activity>
        <activity android:name=".ui.text.DrawActivity">
        </activity>
        <activity android:name=".ui.path.PathActivity">
        </activity>
        <activity android:name=".ui.path.PathViewActivity">
        </activity>
        <activity android:name=".ui.progress.ProgressActivity">
        </activity>
        <activity android:name=".ui.seekbar.SeekbarActivity">
        </activity>
    </application>

</manifest>